@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta-RegularDEMO.otf');
}

@font-face {
    font-family: 'Wizard World';
    src: url('../assets/fonts/WizardWorldSimplified.ttf');
}
$font-title: 'Recoleta', serif;
$font-paragraph: 'Nunito Sans', sans-serif;
$font-logo: 'Wizard World', sans-serif;
