@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta-RegularDEMO.otf');
}

@font-face {
    font-family: 'Wizard World';
    src: url('../assets/fonts/WizardWorldSimplified.ttf');
}

$color-background: #FFFCF1;
$color-primary: #1D373B;
$color-secondary: #75ABA8;
$color-red: #4C1C29;
$color-black: #000000;
$color-white: #FFFFFF;

$font-title: 'Recoleta', serif;
$font-paragraph: 'Nunito Sans', sans-serif;
$font-logo: 'Wizard World', sans-serif;

$h-small: 2rem;
$h-medium: 4rem;
$h-large: 8rem; 

$border-small: 0.5rem;
$border-large: 1rem;

$drop-shadow: 0px 4px 4px rgba(0,0,0,0.25);



